{% extends 'base.html' %}
{% block title %}Tentang Tes Minat | Cermat Jaya{% endblock %}
{% block content %}
{% load static %}
    <!-- ================ Tentang Tes Minat ================= -->
    <div class="tes">
        <div class="cardTes">
            <div class="cardHeader">
                <h1>Tentang Tes Minat</h1>
                <img src="{% static 'images/about_tesMinat.svg' %}" alt="">
                <p style="text-align: justify; margin-left: 0;">
                    Teori yang kami gunakan untuk melakukan tes minat adalah <strong>teori kepribadian RIASEC atau Holland Codes</strong>. 
                    Teori ini adalah hasil karya John Holland, seorang ahli psikologi terkemuka asal Amerika Serikat. 
                    John Holland mengembangkan teorinya dalam bukunya yang berjudul "Making Vocational Choices: A Theory of Vocational Personalities and Work Environments", 
                    yang merupakan perumusan teori kelima sejak karya tulis pertamanya pada tahun 1959.
                    <br><br>
                    Teori ini dipilih karena merupakan salah satu model yang paling dikenal dan banyak digunakan untuk mengidentifikasi minat dan
                    kepribadian individu dalam kaitannya dengan dunia kerja dan pilihan akademik.
                    Teori kepribadian RIASEC mengklasifikasikan individu berdasarkan enam tipe
                    kepribadian utama yang mencerminkan minat mereka dalam berbagai aktivitas, tugas, dan lingkungan kerja. 
                    Ini memungkinkan sistem untuk memberikan gambaran yang menyeluruh mengenai kecenderungan minat calon mahasiswa.
                    Berikut adalah penjelasan mengenai enam tipe kepribadian RIASEC:
                    <ul style="text-align: justify;">
                        <li>
                            <strong>Realistic: </strong>Individu dengan kepribadian ini cenderung menyukai pekerjaan yang
                            melibatkan aktivitas fisik, mekanik, atau teknis. Mereka lebih tertarik
                            pada pekerjaan yang membutuhkan keterampilan praktis dibandingkan
                            tugas administratif atau sosial. Mereka juga suka bekerja di luar ruangan.
                        </li>
                        <li>
                            <strong>Investigative:</strong> Orang dengan tipe ini memiliki ketertarikan terhadap analisis, penelitian,
                            dan pemecahan masalah. Mereka lebih suka bekerja dengan teori dan data,
                            serta memiliki kecenderungan dalam ilmu pengetahuan dan teknologi.
                        </li>
                        <li>
                            <strong>Artistic:</strong> Individu dengan kepribadian artistic lebih menyukai ekspresi kreatif dan
                            bebas dalam pekerjaan mereka. Mereka cenderung memiliki kemampuan
                            dalam seni, musik, sastra, atau desain dan kurang menyukai pekerjaan yang terlalu terstruktur.
                        </li>
                        <li>
                            <strong>Social:</strong> Orang dengan tipe ini lebih suka berinteraksi dengan orang lain,
                            membantu, mengajar, dan membimbing. Mereka memiliki keterampilan
                            komunikasi yang baik dan lebih memilih pekerjaan yang melibatkan
                            hubungan interpersonal seperti pendidikan, kesehatan, dan pelayanan sosial
                        </li>
                        <li>
                            <strong>Enterprising:</strong> Individu dengan tipe kepribadian ini memiliki kecenderungan untuk
                            memimpin, mengambil risiko, serta bekerja dalam lingkungan bisnis dan 
                            manajerial. Mereka lebih suka mempengaruhi orang lain dan memiliki kemampuan dalam negosiasi dan persuasi.
                        </li>
                        <li>
                            <strong>Conventional:</strong> Orang dengan tipe ini lebih menyukai pekerjaan yang terstruktur,
                            sistematis, dan berbasis aturan. Mereka lebih cenderung nyaman dengan
                            tugas administratif, keuangan, dan pekerjaan yang membutuhkan ketelitian tinggi.
                        </li>
                    </ul>
                </p>
                <p style="text-align: justify; margin-left: 0;">
                    Dalam tes minat Cermat Jaya, kami mengukur aspek-aspek ini untuk memberikan gambaran yang jelas tentang minat dan kecenderungan Anda. 
                    Teori ini tidak hanya memungkinkan kami untuk memberikan rekomendasi jurusan kuliah yang sesuai, 
                    tetapi juga membantu Anda memahami lebih dalam tentang potensi karier yang sejalan dengan kepribadian dan minat pribadi Anda.
                    Kami percaya bahwa pemahaman mendalam terhadap minat dan kepribadian akan membimbing Anda dalam memilih jurusan kuliah 
                    yang sesuai dan membangun karier yang memuaskan.
                </p>
            </div>
        </div>
    </div>
{% endblock %}